@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,200;0,500;1,200;1,300&display=swap');
/**************************
Générale
***************************/

*{
    box-sizing: border-box;
}

body{
    font-family: "Texturina 18pt ExtraLight", sans-serif;
    line-height: 1.4;
    background-color: #ffff;
    color:#0A0A0A;
    font-size: 100%;
}

a {
    color:#e71d36;
    font-family: "Texturina 36pt Light", sans-serif;
    text-decoration:none;
}

a:hover {
}

/***************************
Header
 ***************************/

header {

    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #0A0A0A;
}

header .titre-serie {
    height: 6rem;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.hamburger-icon {
    position: absolute;
    z-index: 1;
    top: 5vh;
    left: 5vw;
    padding-bottom: 2vh;
}

.hamburger-icon span {
    height: 5px;
    width: 40px;
    background-color: #ffffff;
    display: block;
    margin: 5px 0;
    transition: 0.7s ease-in-out;
    transform: none;
}

#openmenu:checked ~ .menu-pane {
    left: -5vw;
    transform: translateX(-5vw);
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
    transform: translate(0%, 175%) rotate(-45deg);
    background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
    transform: rotate(45deg);
    background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
    opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
    opacity: 0;
}

div.menu-pane {
    background-color: #b2b5bd;
    position: absolute;
    transform: translateX(-100vw);
    transform-origin: (0, 0);
    width: 100vw;
    height: 120vw;
    transition: 0.6s ease-in-out;
}

.menu-pane nav {
    padding: 10%;
}

.menu-links li, a, span {
    transition: 0.5s ease-in-out;
}

.menu-pane ul {
    padding: 10%;
    display: inline-block;
    list-style: none;
}

.menu-pane li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    font-size: 2em;
}

.menu-links li a {
    color: #0A0A0A;
    text-decoration: none;
}


.menu-links li:hover a {
    color: #FFAB91;
}



.menu-links li:first-child a {
    padding: 5px;
}



input.hamburger-checkbox {
    position: absolute;
    z-index: 3;
    top: 5vh;
    left: 5vw;
    width: 10vw;
    opacity: 0;
    height: 6vh;
}

/***************************
Main
 ****************************/

.titre-accueil {
    text-align: center;
    background-color:#ffff;
}

.titre-accueil h1 {
    padding-bottom: 1em;
    font-family: "Texturina 48pt Medium", sans-serif;
    font-size: 48px;
}

h2, h3{
    text-align: center;
}

/************************
Footer
************************/

footer{
    background-color: #0A0A0A;
    padding: 2em;
}

footer div{
    text-align: center;
    background-color: white;
    border-radius: 90px;
}

footer div p{
    display: inline-block;
    margin-bottom: 2em;
    font-size: 1em;
}

footer div .logo-netflix{
    display: inline;
    height: 6em;
}

/************************
Page-index
**************************/

.logo {
    background-color: #0A0A0A;
    padding-bottom: 3em;
}

.logo-serie {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.bienvenue {
    color: #ffff;
    top:73%;
    position: absolute;
    z-index: 5;
    text-align: center;
}

.contenu {
    background-color:#b2b5bd ;
    padding-bottom: 1em;
}

.adaptation{
    width: 50%;
    position: absolute;
    text-align: center;
    margin-left: 1em;
    margin-right: 40%;
    z-index: 4;
}

.andrzej{
    width: 7rem;
    border: 4px solid #0A0A0A;
    border-radius: 100px;
    margin-top: 1em;
    margin-left: 60%;
    z-index: 2;
}

.citation{
    margin: 2em;
    border: 2px solid #0A0A0A;
    padding: 1em;
    text-align: justify;
    background-color: #8497ae;
}

.penser-auteur{
    margin: 1rem;
}

.affiche img{
    display: block;
    width: 90%;
    border: 1px solid #8497ae;
    margin-left: auto;
    margin-right: auto;
    border-radius: 95px;
}

p.saison {
    margin: 0 2em;
    text-align: center;
}

table{
    margin: 1em;
    border: #0A0A0A solid 3px;
    border-collapse: collapse;
    empty-cells: hide;
}

table caption{
    margin: 1em;
    font-weight: bold;
}

tr th,tr td {
    border: #0A0A0A solid 2px;
}

.ligneBlanche{
    background-color: white;
}

.ligneBleu{
    background-color: #8497ae;
}

table thead tr{
    color: white;
    font-weight: bold;
    background-color: #8497ae;
}

.tlivre1{
    color: white;
    background-color: #0A0A0A;
}

.tlivre2 {
    background-color:#b2b5bd;
}

.livre{
    border: #0A0A0A solid 2px;
    padding: 1em;
    margin: 2em;
    background: #dedada;
    border-radius: 90px;
    text-align: center;
}

.couvertureLivre{
    border: #0A0A0A solid 2px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.siteaide{
    color: white;
    margin: 2em 2em 1em;
    padding: 1em;
    text-align: center;
    background-color: #0A0A0A;
    border-radius: 80px;
}

/***************************
Page : fiche technique
***************************/

.synopsis{
    padding: 1em;
    background-image: url("../img/parchemain.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.synopsis p {
    text-align: justify;
    margin: 2em;
}

.fond-noire{
    padding-bottom: 1em;
    background-color: #0A0A0A;
}

figure .geralt{
    margin-top: 2em;
    width: 100%;
    border-radius: 80px;
}
figure figcaption {
    color: #ffffff;
    font-style: italic;
    text-align: center;
}

div .fiche-technique{
    margin: 2em;
    border: #8497ae 5px solid;
    background-color: #b2b5bd;
}

div .yennefer{
    height: 15em;
    margin: 2em auto;
    display: block;
    border-radius: 120px;
}

div.fiche-technique p {
    text-align: center;
    font-size: 1em;
}

/**********************
Page : distribution
**********************/

figure.acteur{
    text-align: center;

}

figure.acteur .img-acteur{
    width: 80%;
}

figure.acteur figcaption{
    color: #0A0A0A;
}


/*********************
Page : critique
*********************/



main.page-critique{
    padding-bottom: 2em;
    background-color: #b2b5bd;
}

main.page-critique p.texte-critique {
    margin:1em 2em;
}

table.critique{
    margin-left: auto;
    margin-right: auto;
}

table.critique tbody td{
    background-color: #ffffff;
}

.ciri{
    width: 90%;
    border: #0A0A0A solid 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.sortie {
    margin: 2em;
    padding: 1em;
    border: #0A0A0A solid 2px;
    text-align: justify;
    background-color: #8497ae;
}
.wild-hunt{
    width: 60%;
    border: #0A0A0A solid 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}